<%- include('header') %>
<h1>Profile</h1>

<div>
  <p>
    <%= user.name %>
    <%= user.username %>
    <%= user.email %>
    <%= user.phone %>
    <%= user.address %>

  </p>
</div>

<br />

<a href="/">Back To Account Summary</a>

<%- include('footer') %>